/* import styled from 'styled-components'; */

* {
  padding: 0;
  margin: 0;
  
}

html,
body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  background-color: #282c34;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 900px;
  height:auto;
  margin: 150px auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border:1px solid white;
  padding: 15px;
  overflow: hidden;
}

.container > .header {
  text-align: center;
  width: 100%;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
}

.container > .section-top {
  text-align: center;
  width: 100%;
  background-color: white;
  color: black;
  padding: 15px;
  margin: 15px;
  font-weight: 900;
  font-size: 20px;
}

.container > .section-bottom {
  width: 20%;
  height: 105px;
  text-align: center; 
  background-color: #D2691E;
  margin: 5px;
  padding: 22px;
  cursor: pointer;
}

.header > span {
  font-size: 4rem;
  margin-bottom: 5px;
}

.header > h3 {
  font-size: 2rem;
}

.header > button {
  padding: 12px;
  width: 70%;
  border-radius: 7px;
  background: white;
  outline: none;
  border: none;
  display: block;
  margin:15px;
  cursor: pointer;
  margin: 15px auto;
  font-size: 17px;
}

.section-bottom > h3,span {
  font-size: 1.5rem;
  margin-bottom: 5px;
} 

/* // const Container = styled.div`
//   display: flex;
//   flex-flow: row wrap;
//   width: 900px;
//   height:auto;
//   margin: 50px auto;
//   box-sizing: border-box;
//   justify-content: center;
//   border:1px solid white;
//   padding: 15px;
// ` */